# if Statements

In [4]:
#increment the value by 1
x = 20
if (x ==20):
    x+=1
print(x)

21

In [9]:
#Determine weather a person is eligible to vote by using  input 
x = int(input())
if x > 18:
    print('eligible')

19
eligible

# if - else Statements

In [3]:
#Determine weather a person is eligible to vote by using input
x = int(input())
if x > 18:
    print('eligible')
else:
    print('not')

In [14]:
#find the number is even or odd by using input
print('even') if x%2 == 0 else print('not')

19
not

In [33]:
# A company decides to give bonus to all its employees on New year. A 10% bonus on salary for all the male workers and
# 25% to females. build a programme to enter Salary and Gender(m or F) of employee. 

def revised_salary():
    salary = float(input())
    gender = str(input())
    if True:
        r_salary = salary*1.1
    elif gender == "f":
        r_salary = salary*1.25
    print(r_salary)

revised_salary()

100
m
110.00000000000001

# if -elif- else Statement

In [34]:
# check weather the number is positive or negitive or equal to zero using input
x = float(input())
if x == 0:
    print('equal 0')
elif x < 0:
    print('less 0')
else:
    print('greater 0')

0
equal 0

In [37]:
# Test Weather the charcter is vowel or not vowel using input
x = input().lower()
print('vowel') if (x in ['a', 'e', 'i', 'o', 'u']) else print('no vowel')

A
vowel

# while loop

In [39]:
# print first 10 numbers 
i = 1
while i <= 10:
    print(i, end='\t')
    i +=1

1	2	3	4	5	6	7	8	9	10

In [41]:
# find average and sum for first 10 numbers 
i = 1
summation = 0
while i <= 10:
    i +=1
    summation = summation + i
average = summation / i
print(summation)
print(average)

65
5.909090909090909

In [49]:
#Draw a line using while loop
i = 0
while i<10:
    print('-', end='')
    i+=1

----------

In [47]:
#calculate the sum of m to n  numbers using input
m = int(input())
n = int(input())
i = m
sum = 0
while i <= n:
    sum+=i
    i+=1
print(sum)

1
2
3

In [50]:
# countdown 10 to 0 using input
x = int(input())
while x >= 0:
    print(x, end='\t')
    x-=1

3
3	2	1	0

# for loop

In [48]:
#Multiplication table using input
for i in range(10):
    print(i*3, end='\t')

0	3	6	9	12	15	18	21	24	27

In [51]:
#print even and odd for range of number
for i in range(10):
    print(f'even: {i}') if i%2==0 else print(f'odd: {i}')

even: 0
odd: 1
even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9

In [54]:
# break statement
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [59]:
#countinue statement 
for i in range(10):
    if i <= 5:
        continue
    print(i)

6
7
8
9

In [57]:
# all leap years from 1800 - 2021
for yr in range(1800, 2021+1):
    if yr%4==0:
        if yr%100==0:
            if yr%400==0:
                print('leap year:', yr)
        else:
            print('leap year:', yr)

leap year: 1804
leap year: 1808
leap year: 1812
leap year: 1816
leap year: 1820
leap year: 1824
leap year: 1828
leap year: 1832
leap year: 1836
leap year: 1840
leap year: 1844
leap year: 1848
leap year: 1852
leap year: 1856
leap year: 1860
leap year: 1864
leap year: 1868
leap year: 1872
leap year: 1876
leap year: 1880
leap year: 1884
leap year: 1888
leap year: 1892
leap year: 1896
leap year: 1904
leap year: 1908
leap year: 1912
leap year: 1916
leap year: 1920
leap year: 1924
leap year: 1928
leap year: 1932
leap year: 1936
leap year: 1940
leap year: 1944
leap year: 1948
leap year: 1952
leap year: 1956
leap year: 1960
leap year: 1964
leap year: 1968
leap year: 1972
leap year: 1976
leap year: 1980
leap year: 1984
leap year: 1988
leap year: 1992
leap year: 1996
leap year: 2000
leap year: 2004
leap year: 2008
leap year: 2012
leap year: 2016
leap year: 2020

# User defined function

In [60]:
#creating arethematic operators using user defined functions
def add_(x, y):
    return x+y

In [62]:
#Welcome With input 
def welcome():
    x = input()
    print('welcome', x)
welcome()

bob
welcome bob

# Lambda function

In [63]:
# sum using lambda function 
func = lambda a, b : a+b
func(1, 2)

3